<div id="top_sentence"><h1>写真一覧</h1></div>
<div id="test"><p>High Speed Train</p></div>
<div class="slider">
  <ul class="aviaslider" id="frontpage-slider">
      <li class="slider-image" id="slider"><img class="A" src="/IMGP0061.JPG"></li>
      <li class="slider-image" id="slider"><img class="A" src="/IMGP0106.JPG"></li>
      <li class="slider-image" id="slider"><img class="A" src="/IMGP0123.JPG"></li>
      <li class="slider-image" id="slider"><img class="A" src="/IMGP0137.JPG"></li>
      <li class="slider-image" id="slider"><img class="A" src="/IMGP0193.JPG"></li>
      <li class="slider-image" id="slider"><img class="A" src="/IMGP0345.JPG"></li>
      <li class="slider-image" id="slider"><img class="A" src="/IMGP0346.JPG"></li>
      <li class="slider-image" id="slider"><img class="B" src="/IMGP1085.JPG"></li>
      <li class="slider-image" id="slider"><img class="B" src="/IMGP1123.JPG"></li>
      <li class="slider-image" id="slider"><img class="B" src="/IMGP1130.JPG"></li>
      <li class="slider-image" id="slider"><img class="B" src="/IMGP1147.JPG"></li>
  </ul>
  <span id="">△</span>
  <span id="">△</span>
</div>
<ol class="flex-control-nav flex-control-paging">
					<li><a class="flex-active">1</a></li>
					<li><a>2</a></li>
					<li><a>3</a></li>
					<li><a>4</a></li>
					<li><a>5</a></li>
				</ol>
