<h1>写真一覧</h1>
<div id="test"><p>High Speed Train</p></div>
<div class="image">
<img class="A" src="/IMGP0061.JPG">
<img class="A" src="/IMGP0106.JPG">
<img class="A" src="/IMGP0123.JPG">
<img class="A" src="/IMGP0137.JPG">
<img class="A" src="/IMGP0193.JPG">
<img class="A" src="/IMGP0345.JPG">
<img class="A" src="/IMGP0346.JPG">
<img class="B" src="/IMGP1085.JPG">
<img class="B" src="/IMGP1123.JPG">
<img class="B" src="/IMGP1130.JPG">
<img class="B" src="/IMGP1147.JPG">

</div>
