<div id="top_sentence"><h1>写真一覧</h1></div>
<div id="test"><p>High Speed Train</p></div>
<div class="slider">
  <ul class="aviaslider" id="frontpage-slider">>
      <li class="slider-image" id="slider1"><img class src="/IMGP0345.JPG"></li>
      <li class="slider-image" id="slider2">><img src="/IMGP0346.JPG"></li>
      <li class="slider-image" id="slider3">><img src="/IMGP1085.JPG"></li>
      <li class="slider-image" id="slider4">><img src="/IMGP1123.JPG"></li>
  <span id="prev">⬆️</span>
  <span id="next">⬆️</span>
</ul>
</div>
<ol class="flex-control-nav flex-control-paging">
					<li><a class="flex-active">1</a></li>
					<li><a>2</a></li>
					<li><a>3</a></li>
					<li><a>4</a></li>
				</ol>
